.header {
  width: 100vw; /* กำหนดให้กว้างเต็มหน้าจอ */
  height: auto; /* กำหนดให้สูงเต็มหน้าจอ */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* เพิ่มพื้นหลังสีดำเพื่อทำให้ภาพดูชัด */
  border-bottom:10px solid #6f0707 ;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ทำให้ภาพขยายเต็มพื้นที่โดยไม่ถูกบีบ */
}

.logo {
  margin-right: 20px; /* เว้นระยะห่างระหว่างโลโก้กับชื่อ */
  width: 100px; /* ขนาดโลโก้ */
  height: auto; /* ให้โลโก้ปรับขนาดอัตโนมัติ */
  
}

h1 {
  flex-grow: 0.9; /* ทำให้ h1 ขยายเต็มที่ */
  text-align: center; /* จัดข้อความให้อยู่กลาง */
}
