.seats-container {
  display: flex;
  flex-direction: column; /* Arrange rows vertically */
  align-items: center; /* Center rows */
  padding: 10px; /* Add padding for mobile */
}

.seat-selection {
  padding: 20px;
  text-align: center;
}

.seat-row {
  display: flex;
  justify-content: center; /* Center seats in each row */
  margin: 10px 0; /* Space between rows */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.row-label {
  margin-right: 10px;
  font-weight: bold;
}

.movie-title, .movie-genre, .showtime {
  text-align: center; /* Center text */
}

.seat {
  display: flex;
  flex-direction: column; /* Arrange image and label vertically */
  align-items: center; /* Center the label */
  margin: 5px; /* Add margin for better spacing on mobile */
}

.seat-image {
  width: 10vw; /* Set width relative to viewport */
  height: auto; /* Maintain aspect ratio */
  max-height: 70px; /* Maximum height to control the size */
  object-fit: contain; /* Ensure the image fits without distortion */
  cursor: pointer; /* Show pointer cursor on hover */
}

.seat-image:hover {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
  transition: transform 0.2s; /* Smooth transition */
}

.payment-button, .back-button {
  background-color: #409955; /* Default background color for payment button */
  color: white;
  border: none;
  padding: 10px 15px; /* Slightly smaller padding for mobile */
  font-size: 14px; /* Smaller font size for better fit */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%; /* Full width for mobile */
  max-width: 300px; /* Limit max width for larger screens */
}

.payment-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.back-button {
  background-color: #bb3d3d;
  margin-top: 10px;
}

.back-button:hover {
  background-color: #7e3232;
}

.payment-button:hover {
  background-color: #262726;
}

.menu {
  justify-content: space-between;
  display: flex;
}

/* Media queries for further adjustments */
@media (max-width: 600px) {
  .seat-image {
    width: 25vw; /* Adjust image width for smaller screens */
  }
  
  .seat-row {
    flex-direction: column; /* Stack seats vertically on very small screens */
    align-items: center; /* Center align */
  }
}
